.app-header {
    background: black;
    height:36px;
    padding: 8px 32px 8px 32px;
}

.login-button {
    float:right;
}

.bookshow-button {
    float:right;
    margin-right: 20px;
}

.app-logo {
    animation: app-logo-spin infinite 8s linear;
    height: 35px;
    background: #ff7f7f;
 }
 
 @keyframes app-logo-spin {
    from { transform: scaleX(-1); }
 }

 .modal-container {
     margin: 20% 0 0 40%;
 }

 .tabs {
     margin-bottom: 20px;
 }

 .dispNone {
     display: none;
 }

 .dispBlock {
     display: block;
 }

 .red {
     color: red;
 }